<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
       lang="en">
<head>
  <meta charset="UTF-8">
  <title>*ADMIN* Shop - Admin Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-color: silver;">
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="http://localhost:8080/home" class="nav-link px-2 text-white">Main Page</a></li>
        <li><a href="#" class="nav-link px-2 text-white">New(not impl.)</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Promotions(not impl.)</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs(not impl.)</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About(not impl.)</a></li>
      </ul>
      <div sec:authorize="hasRole('ADMIN')">
        <button class="btn btn-success" onclick="window.location.href = 'http://localhost:8080/admin/adminPanel';">Admin</button>
      </div>
      <div style="margin: 5px;" sec:authorize="isAuthenticated()">
        <button class="btn btn-success" onclick="window.location.href = 'http://localhost:8080/logout';">Logout</button>
      </div>
      <div style="margin:5px;" sec:authorize="!isAuthenticated()">
        <button class="btn btn-success" onclick="window.location.href = 'http://localhost:8080/login';">Login</button>
      </div>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Search(not impl.)</button>
        <button type="button" class="btn btn-warning">Your cart(not impl.)</button>
      </div>
    </div>
  </div>
</header>



<div sec:authorize="hasRole('ADMIN')">
  <button class="btn btn-success" onclick="window.location.href = 'http://localhost:8080/admin/addItem';">Add new item</button>
</div>
<div sec:authorize="hasRole('ADMIN')">
  <button class="btn btn-danger" onclick="window.location.href = 'http://localhost:8080/admin/deleteItem';">Delete existing item</button>
</div>


</body>
</html>